.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: fit-content;
}

.top{
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  height: fit-content;
}
.topLeft{
  flex: 1;
  height: 100%;
  
}
.titles{
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  /* background: red; */
}
.title{
  font-size: 70px;
  /* margin-bottom: 30px; */
  line-height: 100px;   
}


.paragraph{
  font-size: 22px;
  color: black;
  text-align: start;
}

.locations >.subtitle{
  font-size: 35px;
  color: white;
}

.highlight{
  font-size: 80px;
  padding: 5px;
  background: var(--mygreen);
}

.topRight{
  flex:1;
  height: fit-content;
  display: flex;
  padding: 50px;
/* background: red; */
align-items: flex-start;
justify-content: center;
background: var(--mygreen);
border-radius: 50px;
width: fit-content;
}

.imageContainer{
  display: flex;
  height: 100%;
  flex: 1;
  align-items: center;
}
.locations{
  flex:2;
  display: flex;
  flex-direction: column;
  justify-content: center ;
  height: 100%;
  padding-left: 10px;
  
}

.locations>.subtitle{
  font-size: 40px;
  margin-bottom: 30px;
}

.location{
  font-size: 35px;
}

.divider{
  display: flex;
  justify-content: flex-end;
  height: 5px;
  width: 100%;
  margin: 50px 0;
}

.longLine{
  width: 200px;
  height: 100%;
  background: var(--myblue);
  border-radius: 50px;
}


.shortLine{
  margin-right: 10px;
  width: 20px;
  height: 100%;
  background: var(--myblue);
  border-radius: 50px;
}


.bottom{
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  height: fit-content;
}
.bottomLeft{
  flex: 1;
  height: 100%;
min-height: 50vh;
  
}

.subtitle{
  font-size: 55px;
  color: gray;
  text-align: left;
  justify-self: flex-start;
}

.paragraph{
  font-size: 25px;
  max-width: 65vw;
  line-height: 45px;
  color: black;
  text-align: start;
}

.bottomRight{
  flex: 1;
  /* background: red; */
  width: 100%;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  position:static;
  top: 10;
}

.singleWorker{
  width: 500px;
  height: 500px;
  background: green;
  top: 0;
  position: static;
}

@media (max-width:1024px) {
  .top,.bottom{
    align-items: center;
    flex-direction: column;
    height: fit-content;
    gap: 50px;
  }

  .topLeft{
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .title{
    font-size: 50px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 0px;
    line-height: 100px;
    text-align: center;
    width: 100%;
  }
  .subtitle{
    justify-self: center;
    text-align: center;
    width: 100%;
  }
  .locations >.subtitle{
    font-size: 25px;
    /* display: none; */
  }

  .locations >.location{
    line-height: 60px;
    padding-left: 10px;
  }
  .highlight{
    font-size: 70px;
    
  }

}